
/*This is a comment in CSS*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;

}
body{
    font-family: 'Courier New', Courier, monospace;
    
}

div {
	width:50%;
	margin:50px;
}

div img{
	width:100%;
}

.home {
	height: 100vh;
}

.home1 {
	margin: 5vh auto auto  auto;
	width:15%;
	display: flex;
}
.movebox1 {
	margin:35vh auto auto auto;
	width:10px;
	height:10px;
	background-color:#000000;
	animation-name:move-color;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	position:relative;
}

@keyframes move-color {
	0% {
		top:0;
		left:0;
		background-color:black;
	}
	25% {
		top:0;
		left:700px;
		border-radius: 50%;
	}
	50% {
		top:200px;
		left:300px;
	}
	75% {
		top:200px;
		left:0;
		border-radius: 10%;
	}
	100%{
		top:0;
		left:0;
		background-color: white;
		
	}
}

h1{
	font-size: 4vw;
	font-weight: 700;
	letter-spacing: 15px;
}

a{
	text-decoration:none;
	color:royalblue;
	
}

h2 {
	font-size:1.5vw;
	font-weight:300;
	color:#1AFF14;
}

.top-left {
	position: fixed;
	top: 20px;
	left:20px;
	z-index: 10;
}

.top-right {
	position: fixed;
	top:0;
	right:20px;
	transform: rotate(270deg);
	transform-origin: bottom right;
	z-index: 10;
}

.bottom-left {
	position:fixed;
	bottom:20px;
	left:20px;
	transform: rotate(270deg);
	transform-origin: top left;
	z-index: 10;
}

.bottom-right {
	position: fixed;
	bottom: 20px;
	right:20px;
	z-index: 10;
}
.center{
	position: absolute;
            top: 50%;
            left: 50%;
}

p {
	font-size: 3vw;
	color:lightgreen;
    background-color: grey;
	margin: 20px auto;
	letter-spacing: 3px;

}

h3 {
  font-size: 40px;
  font-weight: 100;
  text-align: left;
  overflow: hidden;/* Ensures the content is not revealed until the animation */
  border-right: .17em solid pink;/* The typewriter cursor */
  white-space: nowrap;/* Keeps the content on a single line */
  margin: 0 auto;/* Gives that scrolling effect as the typing happens */
  letter-spacing: .12em;/* Adjust as needed */
  animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
}

h4{
	font-size:4vw;
	font-weight:600;
	letter-spacing: 3px;

	color:mediumorchid;
}

/* The typing effect */
@keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color:crimson;
    }
  }

.sleepbackground{
	background-color:rgb(255, 251, 240);
}

h3.sleep{
	font-size: 2vw;
	font-weight: 350;
	letter-spacing: 2px;

	color:rgb(135, 112, 146);
}

h5{
	position:fixed;
	font-size:5vw;
	font-weight:600;
	letter-spacing: 3px;

	color:rgb(135, 112, 146);
}
  
.sleep1{
	margin: -500px 0 0 0;
	float:right;
	width:50%;
	display: flex;

}

.back{
	position:fixed;
	padding:0px 95%;
	
	font-size: 40px;
}

.huichuan{
	font-family: Verdana,Georgia, serif;
	font-size: 30px;
	text-align: left;

    color:mediumpurple;
} 
.centered-wrapper{
    width:1500px;
	
    margin: 80 auto;
    text-align: left;
    padding-top: 30px;
    color: mediumorchid;
}

.macho {

	height: 100vh;
	
}